/* this file contains css for signup page */

/* .navbar-brand-signup {
  display: flex;
  margin-top: 1.1rem;
} */

 .signup-wrapper {
  margin: 5rem 0;
  padding: 25px;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.form-control:focus {
    /* overwriting bs css */
    box-shadow: none !important;
}

.form-select:focus {
    /* overwriting bs css */
    box-shadow: none !important;
}

.form-check-input:focus {
    /* overwriting bs css */
    box-shadow: none !important;
}

.form-check-input:checked {
    /* overwriting bs css */
    background-color: var(--primary-text-color) !important;
    border-color: var(--primary-text-color) !important;
}