/* Initialization */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Navbar CSS */

.navbar {
  /* overwriting bootstrap */
  background-color: #f3f3f3 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2815, 28, 56, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  border: none !important;
}

.nav-link {
  /* overwriting bootstrap */
  color: var(--primary-color) !important;
  font-weight: 600 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    /* overwriting bs css */
    outline: none !important;
    box-shadow: none !important;
}

.navbar-scroll {
  /*background: linear-gradient(45deg, var(--body--background--navbar--left--col), var(--body--background--navbar--right--col));*/
  background: #f3f3f3;
  box-shadow: 0 0 30px -20px #041220;
  transition: all 0.5s ease;
}


/* Hero - Section CSS */
.hero-section {
  text-decoration: none;
}

.hero-text-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-text-color);
}

.hero-text-left-up {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1;
}

.hero-text-left-down {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-over-buttons {
  font-size: 1.2rem;
}


/* css for buttons are there in custom-classes.css */

/* scholarship listings */

.home-scholarship-listings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.scholarship-card {
  width: 100%;
  background-color: var(--listings-bg-color);
  border-radius: 10px;
  padding: 20px;
  margin-top: 1.5rem;
  box-shadow: 0 0 30px -20px #041220;
}

.card-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-header{
 font-size: 20px;
}

.card-content{
  font-size: 16px;
}

/* Footer Styles */
.cc-footer {
  background-color: var(--primary-color);
  color: #fff;
}

.footer-wrapper {
  padding: 15px;
}

.footer-head {
  font-weight: 400;
  margin-top: 10px;
}

.footer-body {
  font-size: 0.9rem;
  margin-top: 5px;
  line-height: 1.1;
  font-weight: 200;
}

.footer-body a {
  text-decoration: none;
  color: #fff;
}

.footer-socials {
  display: flex;
  margin-top: 15px;
}

.footer-social-icon a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.footer-bottom {
  background-color: #0b3955;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 200;
  padding: 10px 0;
}

/* media queries */
@media (max-width: 1400px) {

  .hero-section {
    margin-top: 50px;
  }

  .hero-text-left-up {
    font-size: 4rem;
  }
}

@media (max-width: 1200px) {

  .hero-section {
    margin-top: 50px;
  }

  .hero-text-left-up {
    font-size: 3.5rem;
  }
}

@media (max-width: 992px) {
  .navbar {
    /* overwriting bootstrap */
    background: #f3f3f3;
    box-shadow: 0 0 30px -20px #041220;
  }
  
  .hero-section {
    margin-top: 100px;
  }

  .hero-text-left-up {
    font-size: 2.5rem;
  }

  .hero-text-left-down{
   font-size: 1.05rem;
  }

  .text-over-buttons {
    font-size: 0.9rem;
  }

  .listed-scholarships {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    margin-top: 100px;
  }

  .hero-text-left-up {
    font-size: 2.2rem;
  }

  .card-header{
    font-size: 18px;
   }
   
   .card-content{
     font-size: 16px;
   }

   /* .card-right{
    gap: 1px;
   } */
}

@media (max-width: 576px) {
  .hero-section {
    margin-top: 100px;
  }

  .hero-text-left-up {
    font-size: 2.5rem;
  }
}